<!DOCTYPE html>
<html>
<head>
    <title>AI Doctor Healthcare Assistant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="home-body">

<div class="home-nav">
    <h2>💙 AI DOCTOR</h2>
    <div>
        <a href="/login">Login</a>
        <a href="/register" class="home-btn">Register</a>
    </div>
</div>

<div class="home-container">

    <div class="home-text">
        <p class="tag">Smart Healthcare Platform</p>

        <h1>AI Doctor Assistant</h1>

        <p>
            A professional healthcare web application with AI chat,
            report analyzer, appointment booking, BMI calculator,
            emergency support and doctor panel.
        </p>

        <div class="home-actions">
            <a href="/register" class="home-btn">Get Started</a>
            <a href="/login" class="outline-btn">Login</a>
        </div>
    </div>

    <div class="home-image">
        <img src="https://cdn-icons-png.flaticon.com/512/387/387561.png">
    </div>

</div>

<div class="home-features">
    <div>🤖 AI Chat</div>
    <div>📄 Report Analyzer</div>
    <div>📅 Appointments</div>
    <div>⚖️ BMI Calculator</div>
    <div>🚨 Emergency</div>
    <div>👨‍⚕️ Doctor Panel</div>
</div>

</body>
</html>
